body {
	background-color: rgb(36, 36, 36);
}
#boxes-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1px;
	width: 200px;
	margin: 100px auto;
}

.box {
	width: 100px;
	height: 100px;
	opacity: 0.5;
}
